<%+header%>
    <style>
        .find-servers {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }
        /* Modal Content */
        
        .modal-content {
            background-color: #fefefe;
            border-radius: 8px;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            min-width: 320px;
        }
        
        .dataTable-search {
            display: inline-block;
            width: 100px;
            margin-left: auto;
        }
        
        .dataTable-top {
            margin: 10px;
            display: flex;
        }
        
        .dataTable-dropdown {
            display: inline-block;
        }
        
        .modal-content input {
            display: inline-block;
        }
        /* The Close Button */
        
        .closeModal {
            vertical-align: top;
            color: #444444;
            float: right;
            font-size: 28px;
            top: 0;
            font-weight: bold;
        }
        
        .closeModal:hover,
        .closeModal:focus {
            color: #0054A6;
            text-decoration: none;
            cursor: pointer;
        }
        /* Table input */
        
        .selectCountry {
            padding-left: 3px;
            font-weight: bolder;
        }
        
        .selectName {
            opacity: 0.75;
        }
        
        .table-select {
            border-radius: 10px !important;
            background-color: #fefefe;
        }
        
        .tableHead {
            font-size: 1.25rem;
            text-align: left !important;
            font-family: "Oswald", sans-serif;
            font-weight: normal;
            text-transform: uppercase;
        }
        
        .dataTable-info {
            padding: 7px;
        }
        
        .dataTable-container {
            height: 400px;
            /* Just for the demo          */
            overflow-y: auto;
            /* Trigger vertical scroll    */
            overflow-x: hidden;
            /* Hide the horizontal scroll */
        }
        
        .modalText {
            display: inline-block;
            padding: 15px;
            font-size: medium;
            font-weight: bold;
        }
        
        .icon-size {
            display: inline-block;
            vertical-align: text-bottom;
        }
        
        h2 {
            display: inline-block;
            font-weight: normal;
            margin-right: 40px;
        }
        
        @media all and (min-width: 800px) {
            h1 {
                font-size: 2em;
            }
            h2 {
                font-size: 1.5em;
            }
            .icon-size {
                height: 1.5em;
                width: 1.5em;
            }
        }
        
        @media all and (max-width: 799px) {
            h1 {
                font-size: 3vw;
            }
            h2 {
                font-size: 2vw;
            }
            .icon-size {
                height: 2vw;
                width: 2vw;
            }
        }
        
        @media all and (max-width: 499px) {
            h1 {
                font-size: 1.25em;
            }
            h2 {
                font-size: 1em;
            }
            .icon-size {
                height: 1em;
                width: 1em;
            }
        }
    </style>
    <div class="white-box content-box">
        <h3 class="content-title" onclick="toggleContent(this, 'speed.test.toggle');" style="pointer-events: all;">
            <div class="toggle-arrow expanded"><img src="/luci-static/default/img/icons/arrow-toggle.svg"></div>
            Speed Test
        </h3>
        <div id="speed.test.toggle" class="toggle-content" style="width:100%; height: 100%; display: block;">
            <div style="text-align: center;">
                <div style="margin: 5px;">
                    <img src="/luci-static/resources/download.svg" class="icon-size" alt="Download results">
                    <h2 id="downloadAvg">Download: -</h2>
                    <img src="/luci-static/resources/upload.svg" class="icon-size" alt="Upload results">
                    <h2 id="uploadAvg">Upload: -</h2>
                </div>
            </div>
            <div id="canvasDiv" style="width:80%; margin: auto;position:relative;">
                <canvas id="speedTest">Your browser does not support the canvas element.</canvas>
            </div>
            <div style="text-align: center;">
                <div style="margin: 5px; display: inline-block;">
                    <img src="/luci-static/resources/globe.svg" class="icon-size" alt="Host of server">
                    <h2 id="sponsor"> - </h2>
                </div>
                <div style="margin: 5px; display: inline-block">
                    <img src="/luci-static/resources/ip.svg" class="icon-size" alt="Download results">
                    <h2 id="ip"> - </h2>
                </div>
            </div>
            <div style="text-align: right; margin-top: 35px;">
                <div style="padding: 10px; display: inline-block;">
                    <input type="submit" id="changeServer" class="btn large-btn" value="Change server">
                </div>
                <div style="padding: 10px; display: inline-block;">
                    <input type="submit" id="startSpeedTest" class="btn large-btn" onclick="startSpeedTest(this.id)" value="Start speed test">
                </div>
            </div>

            <!-- Modal -->
            <div id="find-servers" class="find-servers">
                <div class="modal-content">
                    <span class="closeModal">&times;</span>
                    <h2 class="modal" style="padding: 15px; padding-top: 7px;" id="textChooseServer">Getting the server list...</h2>
                    <br>
                    <div id="status.eventlog.toggle" class="toggle-content">
                        <div id="loading" style="display: flex;flex-direction: column-reverse;align-items: center; margin-top: 100px; margin-bottom: 100px;">
                            <span style="position: relative; bottom: -2px;"> Loading... </span>
                            <img src="/luci-static/resources/icons/loading_small.gif" alt="Loading" style="max-width: 33px;">
                        </div>
                        <div id="tableContent" class="table-wrapper table-select" style="display: none;">
                            <table id="table">
                                <thead class="tableHead">
                                    <tr>
                                        <td class="tableHead ">Country</td>
                                        <td class="tableHead">City</td>
                                        <td class="tableHead">Name</td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="<%=resource%>/vanilla-dataTables.js"></script>
    <script type="text/javascript" src="<%=resource%>/speedtest.js"></script>
    <%+footer%>