<%+header%>
<style>
    .serverlist{
        height:200px;
        width:100%;
        overflow:hidden; 
        overflow-y:scroll;
        }
    
    /* .serverlist li{
        
        } */
    .find-servers{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content */
    .content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
    }

    /* The Close Button */
    .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
</style>


<div style="text-align: center;">
    <h2 id="state">State</h2>
    <h2 id="downloadAvg">Downloaded</h2>
    <h2 id="uploadAvg">Uploaded</h2>
</div>
<div style="width: 100%; height: 50%; margin: 0; position:relative">
    <canvas id="speedTest">
    Your browser does not support the canvas element.
    </canvas>
</div>
<div style="text-align: center; padding: 10px;">
    <button id="startSpeedTest" class="btn large-btn" onclick="startSpeedTest(this.id)">Start speed test</button>
</div>
<div style="text-align: center; padding: 10px;">
    <button id="changeServer" class="btn large-btn">Change server</button>
</div>

<!-- Modal -->
<div id="find-servers" class="find-servers">
    <div class="content">
        <span class="close">&times;</span>
        <h2 id="textChooseServer">Choose a server</h2>
        <input id="search" type="text" onkeyup="search()">
        <nav><ul id="serverlist" class="serverlist"></ul></nav>
    </div>
</div>

<script type="text/javascript">
    
    var interval;
    var maxValue = 1000;
    var canvas = document.getElementById("speedTest");
    var ctx = canvas.getContext("2d");
    var minAngle = Math.PI * 1.5;
    var r = canvas.width/2 - 20;
    var selectedServer;
    var avgDownload = 0;
    var avgUpload = 0;
    var xmlDoc;

    function startSpeedTest(id){
        console.log("Starting speedtest");
        var link = '<%=build_url("admin/services/speed_test/start")%>';
        if(selectedServer != null){
            url = selectedServer.getAttribute('url');
            parameters = "?url="+url;
            link = link + parameters;
            console.log("Server is selected");
        }
        interval = window.setInterval(readSpeeds,50);
        document.getElementById(id).disabled = true;
        var xhr = new XMLHttpRequest();
        
        xhr.open("GET", link);
        xhr.send();

        xhr.onreadystatechange = function() {
            if(this.readyState === 4 && this.status === 200) {
            }
        };      
    }

    function readSpeeds(){
        readJson(function(response){
            var json = JSON.parse(response);
            if(json.downloaded == -1){
                if(target != 0){
                    upload.innerHTML = "Upload : " + convertToMbps(avgUpload) + "Mbps";
                    target = 0;
                    draw();
                }
                document.getElementById("startSpeedTest").disabled = false;
                clearInterval(interval);
            }else if(json.downloaded > 0){
                if(state.innerHTML != "Testing download")
                state.innerHTML = "Testing download"
                if(avgDownload != json.avgDownloadSpeed){
                    avgDownload = json.avgDownloadSpeed;
                    target = convertToMbps(avgDownload);
                    draw();
                }
            }else if(json.uploaded > 0){
                if(state.innerHTML != "Testing upload"){
                state.innerHTML = "Testing upload";
                download.innerHTML = "Download : " + convertToMbps(avgDownload) + "Mbps";
                }
                if(avgUpload != json.avgUploadSpeed){
                    avgUpload = json.avgUploadSpeed;
                    target = convertToMbps(avgUpload);
                    draw();
                }
                
            }
        });
    }
    function readJson(callback){
        var state = document.getElementById('state');
        var download = document.getElementById('downloadAvg');
        var upload = document.getElementById('uploadAvg');
        var directory = '<%=build_url("admin/services/speed_test/getJSON")%>';
        var xobj = new XMLHttpRequest();
        xobj.open('GET', directory, true); // Replace 'my_data' with the path to your file
        xobj.onreadystatechange = function () {
            if (xobj.readyState == 4 && xobj.status == "200") {
                // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
                callback(xobj.responseText);
            }
        };
        xobj.send(null);  
    }

    function convertToMbps(value){
        return value/125000;
    }
    
    var target = 0;
    var currentValue = 0;

    function draw(){
        var val = currentValue;
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        var angle = Math.PI;
        if(val < maxValue){
            angle = Math.PI*val/maxValue;
        }
        canvas.style.width ='100%';
        canvas.style.height='100%';
        canvas.width  = canvas.offsetWidth;
        canvas.height = canvas.offsetHeight;
        r = canvas.width/2 - 50;
        // canvas.width = window.innerWidth;
        // canvas.height = window.innerHeight;
        drawGauge(angle);
        drawPointer(angle);
        drawGaugeSpeeds();
        drawSpeed(target);
        if(Math.round(target) != Math.round(val)){
            if(target > val){
                currentValue++;
            }else{
                currentValue--;
            }
            window.requestAnimationFrame(draw);
        }
    }

    function drawGauge(angle){
        angle = Math.PI + angle;
        ctx.lineWidth = 20;
        ctx.strokeStyle = "#0054A6";
        
        ctx.beginPath();
        ctx.arc(canvas.width/2, canvas.height, r, angle, 0);
        ctx.globalAlpha = 0.2;
        ctx.stroke();
        ctx.beginPath();
        ctx.arc(canvas.width/2, canvas.height, r, Math.PI, angle);
        ctx.globalAlpha = 1;
        ctx.stroke();
    }

    function drawPointer(angle){
        angle = minAngle - angle;
        ctx.beginPath();
        ctx.globalAlpha = 1;
        ctx.moveTo(canvas.width/2,canvas.height);
        var coord = getCoordinates(angle,r);
        ctx.lineTo(coord[0], coord[1]);
        ctx.stroke();
    }

    function drawGaugeSpeeds(){
        for(i = 0; i <= 10; i++){
            ctx.font = "30px Arial";
            var angle = Math.PI * 1.5 - Math.PI*i/10;
            var coord = getCoordinates(angle, r + 20);
            ctx.textAlign = "center";
            ctx.fillText(i*100,coord[0],coord[1]);
        }   
    }
    function drawSpeed(value){
        ctx.font = "40px Arial";
        ctx.textAlign = "center";
        ctx.fillText(Math.round(value * 100) / 100,canvas.width/2, canvas.height);
    }

    function getCoordinates(angle, rad){
        return[canvas.width/2 + rad * Math.sin(angle), canvas.height + rad * Math.cos(angle)]
    }

    function addItem(id,name){
        var ul = document.getElementById("serverlist");
        var li = document.createElement("li");
        var a = document.createElement("a");
        li.setAttribute('id',name);
        a.setAttribute('id',id);
        a.setAttribute('onClick','select(this.id)');
        a.appendChild(document.createTextNode(name));
        li.appendChild(a);
        ul.appendChild(li);
    }

    function select(id){
        var text = document.getElementById("textChooseServer");
        var servers = xmlDoc.getElementsByTagName('server');
        for(var i= 0; i < servers.length;i++){
            
            if(servers[i].getAttribute('id') === id){
                var name = servers[i].getAttribute('name');
                var sponsor = servers[i].getAttribute('sponsor');
                selectedServer = servers[i];
                text.innerHTML = "Chosen server is " + sponsor + " from " + name; 
                break;
            }
        }
    }

    function writeToList(){
        getServerList(function(response){
            let parser = new DOMParser();
            xmlDoc = parser.parseFromString(response,"application/xml");
            var servers = xmlDoc.getElementsByTagName('server');
            for(i = 0; i < xmlDoc.getElementsByTagName('server').length; i++){ 
                var name = servers[i].getAttribute('name');
                var id = servers[i].getAttribute('id');
                addItem(id,name);
            }            
        });
    }

    function search() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        ul = document.getElementById("serverlist");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            txtValue = li[i].innerHTML;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }   

    function getServerList(callback){
        var xhr = new XMLHttpRequest();
        xhr.open("GET", '<%=build_url("admin/services/speed_test/getServers")%>', true);
        xhr.withCredentials = true;
        xhr.send();

        xhr.onreadystatechange = function() {
            if(this.readyState === 4 && this.status === 200) {
                callback(xhr.responseText);
            }
        };
    }
    
        // Get the modal
        var modal = document.getElementById("find-servers");

        // Get the button that opens the modal
        var btn = document.getElementById("changeServer");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];  

        // When the user clicks the button, open the modal 
        btn.onclick = function() {
        modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }

    writeToList();
    draw();
    //readSpeeds();
</script>                                           
<%+footer%>
